<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fortune-cookie-app</title>
</head>

<body>
    <script>
        async function displayFortuneCookiePhrase() {

            //fetch fortune cookie phrase from API endpoint
            await fetch('http://localhost:3000/fortune-cookie', {
                method: "GET",
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                //display phrase by manipulating DOM, after fetch response is received
                .then(response => response.json())
                .then(data => {
                    console.log(data.phrase)
                    var phrase_display = document.getElementById("phrase-display");
                    phrase_display.innerHTML = data.phrase
                })
                .catch(err => alert("Error: something went wrong: ", err))
        }

    </script>

    <h1>Fortune cookie app!</h1>

    <button onclick="displayFortuneCookiePhrase()">Get fortune cookie</button>
    <p id="phrase-display"></p>

    <form action="POST"></form>

</body>

</html>